/* General container and layout styles */
html{
    height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 0 0 0;
  background-color: #E3DFDB;
  height:100%;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   clear: both;
   height: 100%;
}

.collection{
    width: 50%;
    text-align: left;

}
.container {
    height: 100%;
    display: inline-block;

}

#frontQueue{
    margin-top: 5px;
    background-color: #FFFFFF;
    padding-left:5%;
    padding-right:5%;
    height: auto;
}
nav {
    background-color: #595556;
    z-index:1000;
}



nav ul li {
    transition: none !important;
}
nav a:hover, nav a:active{
    color: #FFFFFF !important;
    

}


nav .brand-logo {
    padding-left: 10px;
    color: #FFFFFF !important;
    font-size:2em;
    font-family: 'Poiret One';
}



/* Bulletin styling */
#courseBulletin h4 {
  font-size: 1.3em;
  color: #FFFFFF !important;
  margin-bottom: -2%;
  padding: 0.5%;
  background-color:#E8828F !important;
}

/* Setting Input Fields, i.e. in admin */
#inputQueueName, #inputBulletin {
    font-size: 1.3em;
    margin-right: 5%;
    width: 50%;
    float: left;
}

#adminCol{
    background-color: #FFFFFF;
    padding: 2%;
    margin-top: 5%;
}
/* Dashboard button styling */
.dbBtn{
    width: 40%;
}

.modal#login {
    padding: 1%;
    width: 30%;
    max-height: 100%;
}
/* Queue front inputs */
#addUser{
    margin-top: 1%;
    margin-bottom: -5%;
}

#averageHelpTime{
    font-size: 0.74em;
}

hr {
    color: #D4D0CC;
    border:none;
    background-color:#D4D0CC;
    height: 1pt;
}

h5 {
    color: #94918F;
    text-transform: uppercase;
    font-size: 1em;
    text-align: left;
}
h2 {
    margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}
button {
    outline:none;
}
fieldset input {
    margin-right: 2% !important;



}
 fieldset a {

    display: inline-block !important;
    align: right;

 }





#top {
    height: 50%;
    margin-top: -1.5%;
    background-color: #009688;
}

#wrapper {
    padding-left:312px;
    position:relative;
}

/* Front page user table styling */
#userList {
    text-align: left;
    margin:0 0 30px 0;
}
    #userList table {
        border-collapse:separate;
        border-spacing:1px;
        background:#CCC;
    }
        #userList table th {
            background:#EEE;
            font-weight:600;
            padding:10px 20px;
            text-align:center;
        }
        #userList table tbody {
            padding:0; margin:0;
            border-collapse:collapse;
            border-spacing:0px;
        }
            #userList table td {
                background:#FFF;
                padding:5px 10px;
                text-align:center;
            }

.linkdeleteuser {
    margin-top: -2.5%;
}
#userInfo {
    width:250px;
    position:absolute;
    top:0; left:0;
    background: #E3DFDB;
}
    #userInfo p {
        padding:15px;
        border:1px solid #CCC;
        background:rgba(80,120,255,0.05);
    }


fieldset {
    border:0;
    padding:0;
    margin-left: -4%;
}
