extends layout

block content
    script(src='/javascripts/loggedIn.js')
    .row
            center
                h5 
                    .col.s12

                        a#btnFreezeQueue(class="waves-effect waves-light button raised" style="width: 30%; background-color:#F08080;") Freeze Queue
                        a#btnResetQueue(class="waves-effect waves-light button raised" style="width: 30%; background-color:#F08080;") Clear Queue
    .row
                    .col.s12
                        center
                            h5(style="margin-bottom: -1% ") Change Queue Title
                    .col.s8.m6
                            h5
                                input#inputQueueName(type='text', placeholder='15-122', style="width:32%; float:right;")
                    .col.s8.m6
                            h5
                                a#btnChangeName(class="waves-effect waves-light button raised" style="width: 30%; float:left; background-color:#F08080;") Change        

    script(src='/javascripts/admin.js')
