extends layout

block content
    script(src='/javascripts/loggedIn.js')

    .row
        .col.s12
            .container
                #adminCol.clearfix
                    .col.s6
                        .row
                            h5 Queue Management
                                                
                        .row
                            .dbBtn.a#btnFreezeQueue(class="waves-effect waves-light button raised") Freeze
                        .row
                            .dbBtn.a#btnResetQueue(class="waves-effect waves-light button raised") Clear
                    .col.s6
                        .row
                            h5 Settings
                        .row
                            input#inputQueueName(type='text', placeholder='15-122')
                        .row
                            .dbBtn.a#btnChangeName(class="waves-effect waves-light button raised") Change Title
                        .row
                            input#inputBulletin(type='text', placeholder='Yo')
                        .row
                            .dbBtn.a#btnInputBulletin(class="waves-effect waves-light button raised") Update Message
    .row
        .col.s12
            .container
                #adminCol.clearfix
                    .col.s6
                        .row
                            h5 More Buttons Go Here Later
                                                
                        .row
                            .dbBtn.a#btnFreezeQueue(class="waves-effect waves-light button raised") Freeze
                        .row
                            .dbBtn.a#btnResetQueue(class="waves-effect waves-light button raised") Clear
                    .col.s6
                        .row
                            h5 I will Eventually Put These In
                        .row
                            .dbBtn.a#btnChangeName(class="waves-effect waves-light button raised") Change Title
                        .row
                            .dbBtn.a#btnChangeName(class="waves-effect waves-light button raised") Update Message


    script(src='/javascripts/admin.js')
