extends layout

block content
    .row
            center
                h4 
                    .col.s12
                        a#btnResetQueue(class="waves-effect waves-light button raised" style="width: 30%; color:#F08080; background-color:#FFFFFF") Reset Queue Time

    .row
            center
                h4 
                    .col.s12
                        a(class="waves-effect waves-light button raised" style="width: 30%; background-color:#F08080;") Freeze Queue
        

    script(src='/javascripts/index.js')
