extends layout

block content
    script(src='/javascripts/loggedIn.js')

    .row
        .col.s12
            .container
                #adminCol.clearfix
                    .col.s6
                        .row
                            h5 Queue Management
                                                
                        .row
                            .dbBtn.a#btnFreezeQueue(class="waves-effect waves-light btn") Freeze
                        .row
                            .dbBtn.a#btnResetQueue(class="waves-effect waves-light btn") Clear
                    .col.s6
                        .row
                            h5 Settings
                        .row
                            input#inputQueueName(type='text', placeholder='15-122')
                            .dbBtn.a#btnChangeName(class="waves-effect waves-light btn") Change Title
                        .row
                            input#inputBulletin(type='text', placeholder='Yo')
                            .dbBtn.a#btnInputBulletin(class="waves-effect waves-light btn") Update Message



    script(src='/javascripts/admin.js')
