extends layout

block content
    script(src='/javascripts/loggedIn.js')

    .row
        center
            .col.s12
                .container
                    #adminCol.clearfix

                        .col.s6(style="text-align: left")
                            .row
                                h5 Queue Management
                            .row
                                .dbBtn.a#btnFreezeQueue(class="waves-effect waves-light btn cyan tooltipped", data-position="right",data-delay="50",data-tooltip="Prevent new queue signups") Freeze
                            .row
                                .dbBtn.a#btnResetQueue(class="waves-effect waves-light btn cyan tooltipped", data-position="right",data-delay="50",data-tooltip="Reset queue and queue times") Clear
                            .row
                                h5 Email Alerts
                                .switch#emailAlertSwitch
                                    label
                                        span#emailAlertSwitchLabel On
                                        input#emailAlertCheck(type="checkbox")
                                        span(class="lever tooltipped", data-position="right",data-delay="50",data-tooltip="Have the queue send emails on long queue times")



                        .col.s6
                            .row
                                h5 Settings
                            .row
                                input#inputQueueName(type='text', placeholder='Change Title')
                                .dbBtn.a#btnChangeName(class="waves-effect waves-light btn cyan") Update
                            .row
                                input#inputBulletin(type='text', placeholder='Change Bulletin')
                                .dbBtn.a#btnInputBulletin(class="waves-effect waves-light btn cyan") Update



    script(src='/javascripts/admin.js')
