extends layout

block content
  h1= title
  p Welcome to Q

  // Wrapper
    #wrapper

        // USER LIST
        h2 User List
        #userList
            table
                thead
                    th Name
                    th andrewId
                tbody
            // /USER LIST
    // /WRAPPER
