extends layout

block content
    .row
        .col.s12
            center
                h4 
                    #averageHelpTime
    .row


        .col.s12.offset-s1

            #addUser
                fieldset
                    input#inputUserName(type='text', placeholder='Name')
                    input#inputUserAndrewId(type='text', placeholder='AndrewId')
                    input#inputUserProblem(type='text', placeholder='What would you like help with?') 
                    a#btnAddUser(class="button floating") +
            // /ADD USER
    .row
        .col.s12.offset-s1
            .row
                .col.s3 
                    h5 Name
                .col.s3 
                    h5 Andrewid
                .col.s3 
                    h5 Problem
                .col.s3 
                    h5 Done
            #userList
                

    script(src='/javascripts/index.js')
// /WRAPPER
