extends layout

block content
    //top div bar
    #top
        h1 Q
        p
    p
    br
    // Wrapper
    #wrapper
        // ADD USER
        h2 Add Yourself to Q
        
        h3 Current Average help Time: 
        #averageHelpTime
            h3
        #addUser
            fieldset
                input#inputUserName(type='text', placeholder='Name')
                input#inputUserAndrewId(type='text', placeholder='AndrewId')
                br
                input#inputUserProblem(type='text', placeholder='What would you like help with?')
                button#btnAddUser Join the Qs
        // /ADD USER
        br

        // USER LIST
        h2 User List
        #userList
            table#queue
                thead
                    th Name
                    th andrewid
                    th Problem
                    th Done?
                tbody
        // /USER LIST


    // /WRAPPER
