doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/materialize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Poiret+One', rel='stylesheet', type='text/css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/materialize.js')
    script(src='/javascripts/common.js')
    script(src='/javascripts/login.js')

  body
    nav.cyan
        .col.s12
            #name
            ul#nav-mobile(class="right")
                li
                    a(href = "/") Queue
                li
                    #admin 
                li
                    #metrics  
                li
                    #LoginLogout 
                            


    
    .modal#login
        center
            h4 Login as TA

        .modal-content
           
            input#inputTAAndrewId(type='text', placeholder='Your AndrewId')
            input#inputCoursePassword(type='password',placeholder='Course Password')
        .modal-footer
            a(type="submit" class = "waves-effect waves-light btn")#btnLogin
                            i.icon-lock.icon-white
                            | Sign in






    block content
