doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/materialize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/materialize.js')
    script(src='/javascripts/common.js')

  body
    nav
        .col.s12
            #name
            

            ul
                li
                    a(href = "/") Queue

                li
                    #admin
                
                li
                    #metrics
                li
                    #LoginLogout
                        



    .modal#login
        .row
            .col.s12
                center
                    h4 Log in as a TA

        .row
            .col.s12
                    fieldset
                        center
                            p
                            .row#loginInput
                                input#inputTAAndrewId(type='text', placeholder='Your AndrewId')

                            .row#loginInput
                                input#inputCoursePassword(type='password',placeholder='Course Password')
                            p
                            .row

                                button(type="submit" class = "waves-effect waves-light button raised")#btnLogin
                                                i.icon-lock.icon-white
                                                | Sign in

        script(src='/javascripts/login.js')





    block content
