extends layout

block content
    #login-container
        .row
            .col.s12
                center
                    h4 Log in as a TA

        .row
            .col.s12.offset-s5

                #loginBox
                    fieldset
                        input#inputTAAndrewId(type='text', placeholder='Your AndrewId')
                        .row
                            input#inputCoursePassword(type='password',placeholder='Course Password')
                        .row
                            .col.offset-s05
                                button(type="submit")#btnLogin.btn.btn-primary
                                                i.icon-lock.icon-white
                                                | Sign in

    script(src='/javascripts/login.js')
