extends layout

block content

    center
        .container#frontQueue
            .row
                h5 Number of students at office hours(last 2 weeks)

                canvas#weekChart(width=800, height="400")
            .row
                h5 Number of requests at office hours over the semester
                canvas#assignmentChart(width=800, height=400)
            .row
                h5 Most common people at office hours
                #mostCommonIds



    script(src='/javascripts/Chart.js')
    script(src='/javascripts/fuse.min.js')
    script(src='/javascripts/metrics.js')